.team-table__container {}

.team-table__banner {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #EDF8FF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0 79px;
    padding: 22px 0 12px;
}

.team-table__stat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    color: #153C55;
    margin: 0 96px;
}

.team-table__stat:first-child {
    margin-left: 0 !important;
}

.team-table__stat:last-child {
    margin-right: 0 !important;
}

.team-table__stat-title {
    font-size: 14px;
}

.team-table__stat-value {
    font-size: 48px;
    font-weight: 700;
}

.team-table__stat-against {
    font-size: 16px;
}

.team-table {
    background: #FFFFFF;
    border: 1px solid #DFE6EB;
    margin: 0 79px 100px;
}

.team-table__filter {
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;
}

.team-table__filter > button {
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    color: #153C55;
    cursor: pointer;

    font-weight: 600;
    font-size: 14px;

    outline: none;
    padding: 4px 8px;
}

.team-table__filter > button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.team-table__filter > button > img {
    margin-right: 8px;
}

.team-table__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: #F8F9FA;
    padding: 0 32px;
}

.table__header--column {
    color: #153C55;
    font-weight: 600;
    font-size: 16px;
    padding: 23px 0;
    text-align: left;
}

.team-table__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 1px solid #DFE6EB;
    padding: 21px 32px;
}

.team-table__row:hover {
    cursor: pointer;
    background: #F8F9FA;
    box-shadow: inset 0 0 4px rgba(133, 149, 169, 0.25);
}

.team-table__row-column {
    font-weight: 600;
    font-size: 14px;

    color: #153C55;
}

.team-table__row-column > a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    color: #153C55;
    text-decoration: none;
}

.team-table__row-column__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr.table__header {
    background: #F8F9FA;
    font-weight: 700;
}

tr.table__header td img {
    padding-left: 12px;
}

tr:not(.table__header) {
    border-bottom: 1px solid #DFE6EB;
}

tr td {
    color: #153C55;
    font-size: 16px;
    padding: 24px 0;
}

tr td:first-child, tr td:last-child  {
    padding: 24px 32px;
}

.user-profile {
    height: 35px;
    width: 35px;

    border-radius: 50%;
    margin-right: 12px;
}

.user-name {
    color: #153C55;
    font-size: 14px;
}

td a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    color: #153C55;
    text-decoration: none;
}

.user-phase {
    color: #CDD6DF;
    font-size: 12px;
    font-weight: normal;
}

tr:not(.table__header) td {
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}

tr:not(.table__header) td:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

td.right-align {
    text-align: right;
}

tr:not(.table__header) td:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px !important;
}

tr:not(.table__header) td:last-child > p, tr:not(.table__header) td:last-child > img {
    margin-top: -23px;
}
.badge {
    width: 101px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    font-size: 12px;
    margin: 0;
}

.badge--ready {
    background: #93F0EC;
    color: #004644;
}

.badge--on-track {
    background: #FFF3D4;
    color: #5F4700;
}

.badge--off-track {
    background: #FFA5A7;
    color: #6A0F14;
}
