.skill-chart {
    margin-top: 32px;
    padding: 0 24px;
}

.skill-chart__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-chart__title {
    font-size: 14px;
}

.skill-chart__body {
    margin-top: 24px;
}
