.teams-nav-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    border: 1px solid #DFE6EB;
    border-radius: 5px;
    margin: 32px 79px 0;
}

.teams-nav-bar ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    list-style: none;
    margin: 0;
    padding: 17px 0 0;
}

.teams-nav-bar ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 125px;

    color: #CDD6DF;
    cursor: pointer;
    font-size: 16px;
    margin-right: 48px;
    padding-bottom: 17px;
}

.teams-nav-bar ul li:first-child {
    margin-left: 12px;
}

.teams-nav-bar ul li.active {
    border-bottom: 4px solid;
    color: #153C55 !important;
    padding-bottom: 13px !important;
}

.teams-nav-bar ul li img {
    margin-right: 8px;
}


.team-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-left: 1px solid #DFE6EB;
    color: #153C55;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 24px;
}

.team-dropdown .logo {
    width: 30px;
    margin-right: 12px;
}

.team-dropdown .icon {
    height: 10px;
    margin-left: 28px;
}
